div.nav-bar {
  padding: 20px 25px 40px;
  width: 85%;
  margin: 0px auto;
}

nav a{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
  color: black;
  float: right;
  text-transform: uppercase;
  font-weight: 525;
  letter-spacing: .10em;
  margin-right: 4%;
  }

  a:hover {
    color: orangered;
  }

.router-link-exact-active {
  border-bottom: 3px solid #3d9970;
  display:inline;
}
