$bg_color: whitesmoke;
$header_color: #3d9970;
$achievements_color: rgb(102, 102, 102);
$subTitle_font_color: black;

$font_0: Cambria;
$font_1: Georgia;

@mixin background-style {
	background-color: $bg_color;
  font-family: $font_0;
}

.resume {
  @include background-style;

div {
  &.flex-container {
    display: flex;
    margin: 0px 0px 0px 195px;
    padding: 60px 0px 60px 60px;
  }
	&.nameSpace {
		margin-bottom: 75px;
  }
  &.name {
    font-size: 2.5rem;
    font-weight: bold;
  }
	&.nameSpaceSubTitle {
		font-family: $font_1;
		font-style: italic;
		font-size: 14px;
	}
	&.columnStyleLeft {
	}
	&.title {
		font-weight: bold;
		color: $header_color;
		padding-top: 25px;
		padding-bottom: 5px;
		font-family: $font_1;
	}
	&.columnStyleRight {
     margin-left: 100px;
     margin-right: 130px;
	}
	&.personalInformation {
		font-size: 14px;
		margin-bottom: 60px;
	}
	&.skills {
		text-align: left;
		color: $achievements_color;
	}
	&.highlights {
		color: $achievements_color;
	}
}
p {
	font-size: 15.5px;
	color: $achievements_color;
	&.content {
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: left;
  }
  &.subTitle {
    color: $subTitle_font_color;
    font-family: $font_1;
  }
	&.timeStamp {
		font-size: 12px;
		margin-bottom: 2px;
	}
	&.achievements {
		font-weight: bold;
	}
}
ul {
  list-style: none;
  padding: 0px;
}
li {
  margin: 0 0 5px 0;
}
}
