$bg-color: whitesmoke;
$black: #000;

$font_0: Cambria;
$font_1: Cursive;
$font_3: 'Helvetica Neue';

body {
  background-color: $bg-color;
  font-family: $font_0;
}

div {
	&.mainContent {
    padding-top: 50px;
	}
	&.content {
		padding: 13px;
    font-family: $font_3;
    line-height: 1.5;
    width: 65%;
    box-sizing: border-box;
    border-style: solid;
    margin: auto;
	}
	&.image {
		padding: 20px;
    text-align: center;
	}
}
h3 {
	&.name {
		font-family: $font_1;
		text-align: center;
		font-size: 28px;
		border-bottom: 1px solid $black;
		margin: 20px 0px 2px;
		line-height: 0.1em;
	}
	span {
		background: $bg-color;
		padding: 0 10px;
	}
}
p.content {
	text-align: justify;
	padding: 10px;
}
