
$font_0: Cambria;
$font_1: Cursive;
$font_3: 'Helvetica Neue';
$path_background_image: "./../../../static/images/floral-design.jpg";

@mixin background-style {
  height: 100%;
  background: url($path_background_image) no-repeat center center fixed;
  background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}



body {
@include background-style;
}

p.header {
  font-family: $font_1;
  text-align: center;
  font-size: 40px;
}

